extends main.pug

block css
  <link rel="stylesheet" type="text/css" href="css/main.css">
  <link rel="stylesheet" type="text/css" href="css/downloads.css">
block content
  <section id="speakers">
    <h1><i class="fa fa-download" aria-hidden="true"></i>  Download</h1>
    <p> Install the Distro of The 21st Century by choosing your preferred architecture.</p>
    <div class="row1">
      <div class="card"><img src="assets/pc.png" alt="" />
          <div class="card-info">
              <h2>64 Bit</h2>
              <p>Ideal for computers with:
                  <li>4GB or more of RAM.</li>
                  <li>64-bit capable Intel and AMD processors.</li>
                  <li>UFEI and Legacy Bios Support</li>
                  <li>Modern Intel-based Apple Macs</li>
              </p>
          </div>
      </div>
      
      <div class="card"><img src="assets/arm.png" alt="" />
          <div class="card-info">
              <h2>ARM</h2>
              <p>For ARMv8 computers, like:
                  <li>Raspberry Pi 3B.</li>
                  <li>Raspberry Pi 3B+.</li>
                  <li>Raspberry Pi 4B</li>
              </p>
          </div>
      </div>
    </div>
  </section>s
