extends main.pug

block css
  <link rel="stylesheet" type="text/css" href="css/main.css">

block content
  <div>
    <h1>The Distro of The 21st Century</h1>
    <div class="minialan1"><img class="svg" src="assets/distro.png" alt="SulinOS Welcome"></div>
    <p class="paragraf1"> MerOS is a user friendly, good looking, general purpose Nix based GNU/Linux distro. It is ideal for those who want the most out of their computers, a well-designed desktop environment and an uncommon Linux experience.</p>
    <div class="butonalan1">
      <a href="#underdevelopment" class="button"><i class="fa fa-arrow-circle-down" aria-hidden="true"></i> Download</a>
      <a href="https://github.com/mercode-org/meros-nix" class="button"><i class="fa fa-code-fork" aria-hidden="true"></i> Source</a>
    </div>
    <div class="ghost">In June, Erdoğan won a snap presidential election, and the AKP secured control of the parliament in alliance with the Nationalist Movement Party (MHP). The elections were contested on a deeply uneven playing field marked by media bias in favor of the AKP and intimidation, harassment, and attacks aimed at opposition candidates.</div>
  </div>
  <br></br>
  <br></br>
  <div class="alan">
    <h1>Simplicity</h1>
    <div class="minialan2"><img class="svg" src="assets/seniorpc.png" alt="SulinOS is Simple"></div>
    <p class="paragraf2"> MerOS promises simplicity with its eyecandy desktop environment, custom app store, built-in software, progressive web apps and active community support. Many of the must-have modern GNU apps are bundled with it  while some of them are made by the Mercode community itself. Even your grandparents can use MerOS with ease.</p>
    <div class="ghost">In June, Erdoğan won a snap presidential election, and the AKP secured control of the parliament in alliance with the Nationalist Movement Party (MHP). The elections were contested on a deeply uneven playing field marked by media bias in favor of the AKP and intimidation, harassment, and attacks aimed at opposition candidates.</div>
  </div>
  <br></br>
  <br></br>
  <div class="alan">
    <h1>Security</h1>
    <div class="minialan1"><img class="svg" src="assets/security.png" alt="SulinOS is Secure"></div>
    <p class="paragraf1"> MerOS is secure because every process requires authentication and wireless connections are held with SSL. Also every compiled package are approved by the community before being published to public.</p>
    <div class="ghost">In June, Erdoğan won a snap presidential election, and the AKP secured control of the parliament in alliance with the Nationalist Movement Party (MHP). The elections were contested on a deeply uneven playing field marked by media bias in favor of the AKP and intimidation, harassment, and attacks aimed at opposition candidates.</div>
  </div>
  <br></br>
  <br></br>
  <div class="alan">
    <h1>Compatibility</h1>
    <div class="minialan2"><img class="svg" src="assets/compatibility.png" alt="SulinOS is Secure"></div>
    <p class="paragraf2"> With modest hardware requirements MerOS is suitable for modern workstations, single board computers and older hardware alike. Even your old model Raspberry Pi 2 can be healed with it. MerOS makes modern computers fast and old computers usable.</p>
    <div class="ghost">In June, Erdoğan won a snap presidential election, and the AKP secured control of the parliament in alliance with the Nationalist Movement Party (MHP). The elections were contested on a deeply uneven playing field marked by media bias in favor of the AKP and intimidation, harassment, and attacks aimed at opposition candidates.</div>
  </div>
  <br></br>
  <br></br>
  <div class="alan">
    <h1>Liberty</h1>
    <div class="minialan1"><img class="svg" src="assets/gnulicense.png" alt="Liberty comes with MerOS"></div>
    <p class="paragraf1"> What GNU/Linux distros all have in common is they are Free Software. Free software is software that can be freely used, changed, and shared (in modified or unmodified form) by anyone. In a nutshell MerOS promises liberty, in the truest sense of the word.</p>
    <div class="ghost">In June, Erdoğan won a snap presidential election, and the AKP secured control of the parliament in alliance with the Nationalist Movement Party (MHP). The elections were contested on a deeply uneven playing field marked by media bias in favor of the AKP and intimidation, harassment, and attacks aimed at opposition candidates.</div>
  </div>
  <br></br>
  <br></br>
  <div class="alan">
    <h1>Solidarity</h1>
    <div class="minialan2"><img class="svg" src="assets/community.png" alt="SulinOS Welcome"></div>
    <p class="paragraf2"> MerOS wouldn’t exist without the great community of Mercode. It is a FOSS community which gathers coders, hackers, activists, makers and designers worldwide. Everyone, regardless of their differences, can be a part of this community by contributing to its projects via several Git platforms and being active in our hub and chat groups in various platforms.</p>
    <div class="butonalan2">
      <a href="https://mercode.org/" class="button"><i class="fa fa-globe" aria-hidden="true"></i> Website</a>
      <a href="https://github.com/mercode-org" class="button"><i class="fa fa-code-fork" aria-hidden="true"></i> Contribute</a>
    </div>
    <div class="ghost">In June, Erdoğan won a snap presidential election, and the AKP secured control of the parliament in alliance with the Nationalist Movement Party (MHP). The elections were contested on a deeply uneven playing field marked by media bias in favor of the AKP and intimidation, harassment, and attacks aimed at opposition candidates.</div>
  </div>
  <br></br>
  <br></br>
  <div class="alan">
    <h1>Nix</h1>
    <div class="minialan1"><img class="svg" src="assets/nixpkg.png" alt="SulinOS Welcome"></div>
    <p class="paragraf1"> MerOS is based upon Nix, a powerful package manager for Linux and other Unix systems that makes package management reliable and reproducible. It provides atomic upgrades and rollbacks, side-by-side installation of multiple versions of a package, multi-user package management and easy setup of build environments.</p>
    <div class="butonalan1">
      <a href="https://nixos.org/nix/" class="button"><i class="fa fa-book" aria-hidden="true"></i> Learn More</a>
    </div>
    <div class="ghost">In June, Erdoğan won a snap presidential election, and the AKP secured control of the parliament in alliance with the Nationalist Movement Party (MHP). The elections were contested on a deeply uneven playing field marked by media bias in favor of the AKP and intimidation, harassment, and attacks aimed at opposition candidates.</div>
  </div>
  <br></br>
