<!doctype html>
head
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta charset="utf-8">
  <title>MerOS - The Distro of the 21st Century</title>

  block css

  <link rel="shortcut icon" type="image/png" href="assets/icon.png"/>
  <link rel="stylesheet" href="css/main.css">

  <script src="./js/main.js"></script>
  <script src="./js/jquery-3.3.1.js"></script>
  script(src='./js/jquery-3.3.1.js')
  script(type='text/javascript').
    $(document).ready(function() {
    $('.menu-toggle').click(function() {
    $('nav').toggleClass('active')
    })
    })
body
  block header
    <header>
      <div>
        <div class="logo animated flip delay-1s"><a href="index.html"><img src="assets/ikonbeyaz.svg" style="width:auto;height:50px;padding-top:6px;" alt="***OS.MERCODE"></a></div>
        <div class="logo"><a href="index.html"><img src="assets/logo.png" style="width:auto;height:28px;padding-top:14px;margin-left: 12px;" alt=".ORG***"></a></div>
      </div>
      <nav>
        <ul>
          <li><a href="downloads.html"><i class="fa fa-download" aria-hidden="true"></i> Downloads</a></li>
          <li><a href="#features"><i class="fa fa-list-alt" aria-hidden="true"></i> Features</a></li>
          <li><a href="#donate"><i class="fa fa-credit-card-alt " aria-hidden="true"></i> Donation</a></li>
          <li><a href="#notreadyyet"><i class="fa fa-book" aria-hidden="true"></i> Docs</a></li>
          <li><a href="https://hub.mercode.org"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</a></li>
          <li style="display: none"><a href="portal.html">PARCEL BUGFIX</a></li>
          <div class="dropdown">
            <li><a class="dropbtn"><i class="fa fa-globe" aria-hidden="true"></i> English <i class="fa fa-caret-down" aria-hidden="true"></i></a></li>
            <div class="dropdown-content">
              <a href="./index.html">English</a>
              <a href="tr/index.html">Türkçe</a>
            </div>
          </div>
        </ul>
      </nav>
      <div class="menu-toggle"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></div>
    </header>
    
  block content
  
  block donate
    <div id="donate" class="overlay">
      .popup
        h2 Donate to Mercode
        a.close(href='#') &times;
        <div class="content">
          .minikalan1
            img.svgdonation(src='assets/donation.svg', alt='Make Donations to Mercode!')
          .paragiraf1
            | If you would like to see this team contributing more to the community, you can donate us on Patreon or send Etherium to our wallet to help us paying our server bills or to order us a coffee (because we need it after long hours of coding).
            br
          .butonalani
            <a href="https://www.patreon.com/mercode" class="button"><i class="fa fa-money" aria-hidden="true"></i>  Patreon</a>
            br
            <input class="kripto" type="text" value="0xf65C6EE66b6f831Ac212A86C2c3502FC285C978E" id="myInput">
            br
            <a onclick="copyClipboard()" class="button"><i class="fa fa-files-o" aria-hidden="true"></i>  ETH</a>
        </div>
    </div>
    
