extends main.pug

block css
  <link rel="stylesheet" type="text/css" href="css/main.css">
  <link rel="stylesheet" type="text/css" href="css/team.css">
block content
  <section id="speakers">
    <h1><i class="fa fa-users" aria-hidden="true"></i>  Team</h1>

    <div class="row1">

      <div class="col-md-3">
        <a class="member-profile">
          <div class="unhover_img">
            <picture>
              <img class="teamprofile" src="assets/team/yutyo.png" alt="">
            </picture>
          </div>
          <div class="hover_img">
            <picture>
              <img class="teamprofile" src="assets/team/yutyo.png" alt="">
            </picture>
          </div>
          <span>Lead Developer - Designer</span>
          <h4 style="margin-bottom:5px;">Tan Siret Akıncı</h4>
          <h5 style="margin-bottom:10px; color:grey;">yutyo</h5>
        </a>
        <ul>
          <li><a href="mailto:tansiretakinci@yandex.com" target="_blank"><i class="fa fa-envelope"></i></a></li>
          <li><a href="https://twitter.com/comradeyutyo" target="_blank"><i class="fa fa-twitter"></i></a></li>
          <li><a href="https://github.com/yutyo" target="_blank"><i class="fa fa-github"></i></a></li>
          <li><a href="https://www.linkedin.com/in/tan-siret-akinci-9b7996b6/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
        </ul>
        <p class="teamp">Founder of Mercode and creator of early MerOS concepts according to his "The Distro of 21st Century" dream. Works on the project since 2018.</p>
      </div>



      <div class="col-md-3 ">
        <a class="member-profile">
          <div class="unhover_img">
            <picture>
              <img class="teamprofile" src="assets/team/maciej.png" alt="">
            </picture>
          </div>
          <div class="hover_img">
            <picture>
              <img class="teamprofile" src="assets/team/maciej.png" alt="">
            </picture>
          </div>
          <span>Lead Nix Developer</span>
          <h4 style="margin-bottom:5px;">Maciej Krüger</h4>
          <h5 style="margin-bottom:10px; color:grey;">mkg20001</h5>
        </a>
        <ul>
          <li><a href="https://mkg20001@mkg20001.io" target="_blank"><i class="fa fa-globe"></i></a></li>
          <li><a href="mailto:mkg20001@mkg20001.io" target="_blank"><i class="fa fa-envelope"></i></a></li>
          <li><a href="https://twitter.com/mkg20001_" target="_blank"><i class="fa fa-twitter"></i></a></li>
          <li><a href="https://github.com/mkg20001" target="_blank"><i class="fa fa-github"></i></a></li>
        </ul>
        <p class="teamp">Creator of MerOS-Nix configs, packages and nixiquity, Sysadmin of Mercode. He has the most contribution rates within the team.</p>
      </div>

      <div class="col-md-3">
        <a class="member-profile">
          <div class="unhover_img">
            <picture>
              <img class="teamprofile" src="assets/team/merith.png" alt="">
            </picture>
          </div>
          <div class="hover_img">
            <picture>
              <img class="teamprofile" src="assets/team/merith.png" alt="">
            </picture>
          </div>
          <span>Developer - Sysadmin</span>
          <h4 style="margin-bottom:10px;">Zachary Duncan</h4>
          <h5 style="margin-bottom:10px; color:grey;">merith</h5>
        </a>
        <ul>
          <li><a href="https://merith.tk" target="_blank"><i class="fa fa-globe"></i></a></li>
          <li><a href="https://github.com/Merith-TK" target="_blank"><i class="fa fa-github"></i></a></li>
        </ul>
         <p class="teamp">First sysadmin of Mercode and an immerse coder. A true GNU/Linux advocate.</p>
      </div>

      <div class="col-md-3">
        <a class="member-profile">
          <div class="unhover_img">
            <picture>
              <img class="teamprofile" src="assets/team/bonsharp.png" alt="">
            </picture>
          </div>
          <div class="hover_img">
            <picture>
              <img class="teamprofile" src="assets/team/bonsharp.png" alt="">
            </picture>
          </div>
          <span>Developer - Sysadmin</span>
          <h4 style="margin-bottom:5px;">Leung Yau Ming</h4>
          <h5 style="margin-bottom:10px; color:grey;">bonsharp</h5>
        </a>
        <ul>
          <li><a href="https://github.com/leungyauming" target="_blank"><i class="fa fa-github"></i></a></li>
        </ul>
        <p class="teamp">A hardworking full stack developer and sysadmin, creator of Mergit and several electron apps.</p>
      </div>


      <div class="col-md-3 ">
        <a class="member-profile">
          <div class="unhover_img">
            <picture>
              <img class="teamprofile" src="assets/team/bufgix.png" alt="">
            </picture>
          </div>
          <div class="hover_img">
            <picture>
              <img class="teamprofile" src="assets/team/bufgix.png" alt="">
            </picture>
          </div>
          <span>JS Developer</span>
          <h4 style="margin-bottom:5px;">Faruk Oruç</h4>
          <h5 style="margin-bottom:10px; color:grey;">bufgix</h5>
        </a>
        <ul>
          <li><a href="mailto:ooruc471@yandex.com" target="_blank"><i class="fa fa-envelope"></i></a></li>
          <li><a href="https://twitter.com/bufgix" target="_blank"><i class="fa fa-twitter"></i></a></li>
          <li><a href="https://github.com/bufgix" target="_blank"><i class="fa fa-github"></i></a></li>
          <li><a href="https://www.linkedin.com/in/%C3%B6mer-faruk-oru%C3%A7-9b1a14188/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
        </ul>
        <p class="teamp">He is responsible for ElectronJS based apps of MerOS along with Yutyo and Bonsharp.</p>
      </div>

      <div class="col-md-3">
        <a class="member-profile">
          <div class="unhover_img">
            <picture>
              <img class="teamprofile" src="assets/team/emre.png" alt="">
            </picture>
          </div>
          <div class="hover_img">
            <picture>
              <img class="teamprofile" src="assets/team/emre.png" alt="">
            </picture>
          </div>
          <span>Linux Developer</span>
          <h4 style="margin-bottom:10px;">Emre</h4>
          <h5 style="margin-bottom:10px; color:grey;">natakomia hari</h5>
        </a>
        <ul>
          <li><a href="https://github.com/xDeveloperEmre" target="_blank"><i class="fa fa-github"></i></a></li>
        </ul>
         <p class="teamp">Creator of meros-installer. A Linux enthusiast.</p>
      </div>

      <div class="col-md-3">
        <a class="member-profile">
          <div class="unhover_img">
            <picture>
              <img class="teamprofile" src="assets/team/oriedargon.png" alt="">
            </picture>
          </div>
          <div class="hover_img">
            <picture>
              <img class="teamprofile" src="assets/team/oriedargon.png" alt="">
            </picture>
          </div>
          <span>Music Composer</span>
          <h4 style="margin-bottom:5px;">Orie Dargon</h4>
          <h5 style="margin-bottom:10px; color:grey;">OrieDargon</h5>
        </a>
        <ul>
          <li><a href="https://twitter.com/OrieDargon" target="_blank"><i class="fa fa-twitter"></i></a></li>
          <li><a href="https://github.com/OrieDargon" target="_blank"><i class="fa fa-github"></i></a></li>
          <li><a href="https://www.youtube.com/channel/UCO19aY4tFiVPXONv0Ts8oMA" target="_blank"><i class="fa fa-youtube-play"></i></a></li>
          <li><a href="https://soundcloud.com/oriedargon" target="_blank"><i class="fa fa-soundcloud"></i></a></li>
        </ul>
        <p class="teamp">She is a talented chiptune sound composer. Composed the entire MerOS sound theme herself.</p>
      </div>

      <div class="col-md-3">
        <a class="member-profile">
          <div class="unhover_img">
            <picture>
              <img class="teamprofile" src="assets/team/caner.png" alt="">
            </picture>
          </div>
          <div class="hover_img">
            <picture>
              <img class="teamprofile" src="assets/team/caner.png" alt="">
            </picture>
          </div>
          <span>Graphic Designer</span>
          <h4 style="margin-bottom:5px;">Caner Özyayıkçı</h4>
          <h5 style="margin-bottom:10px; color:grey;">cimbo</h5>
        </a>
        <ul>
          <li><a href="http://caner.ozyayikci.com/" target="_blank"><i class="fa fa-globe"></i></a></li>
          <li><a href="https://twitter.com/ycanerozyayikci" target="_blank"><i class="fa fa-twitter"></i></a></li>
          <li><a href="https://www.behance.net/canerozyayikci" target="_blank"><i class="fa fa-behance"></i></a></li>
          <li><a href="https://500px.com/caner9ful" target="_blank"><i class="fa fa-500px"></i></a></li>
        </ul>
        <p class="teamp">Formerly a designer at Mercode, Caner is the artist behind "Merkür Branding".</p>
      </div>
    </div>
    <div class="clear"></div>



  </div>
  </section>
