extends main.pug

block css
  <link rel="stylesheet" type="text/css" href="../css/main.css">
  <link rel="stylesheet" type="text/css" href="../css/downloads.css">
block content
  <section id="speakers">
    <h1><i class="fa fa-download" aria-hidden="true"></i>  İndir</h1>
    <p> Tercih ettiğiniz mimariyi seçerek 21. Yüzyılın Dağıtımı'nı indirin.</p>
    <div class="row1">
      <div class="card"><img src="../assets/pc.png" alt="" />
          <div class="card-info">
              <h2>64 Bit</h2>
              <p>Gereksinimler:
                  <li>2GB veya daha fazla RAM.</li>
                  <li>64-bit uyumlu Intel ve AMD işlemcileri.</li>
                  <li>UFEI ve Legacy BIOS desteği.</li>
                  <li>Intel tabanlı Apple Macleri.</li>
              </p>
          </div>
      </div>
      
      <div class="card"><img src="../assets/arm.png" alt="" />
          <div class="card-info">
              <h2>ARM</h2>
              <p>Desteklenen ARM bilgisayarlar:
                  <li>Raspberry Pi 3B.</li>
                  <li>Raspberry Pi 3B+.</li>
                  <li>Raspberry Pi 4B</li>
              </p>
          </div>
      </div>
    </div>
  </section>s
