extends main.pug

block css
  <link rel="stylesheet" type="text/css" href="../css/main.css">

block content
  <div>
    <h1>21. Yüzyılın Dağıtımı</h1>
    <div class="minialan1"><img class="svg" src="../assets/distro.png" alt="MerOS Welcome"></div>
    <p class="paragraf1"> MerOS; kullanıcı dostu, güzel görünümlü, çok amaçlı, Nix tabanlı bir GNU/Linux dağıtımıdır. Bilgisayarlarının çoğuna hakim olmak ve farklı bir Linux deneyimi yaşamak isteyen, tasarım anlayışı geniş kişiler için ideal bir dağıtımdır.</p>
    <div class="butonalan1">
      <a href="downloads.html" class="button"><i class="fa fa-arrow-circle-down" aria-hidden="true"></i> İndir</a>
      <a href="https://github.com/mercode-org/meros-nix" class="button"><i class="fa fa-code-fork" aria-hidden="true"></i> Kaynak</a>
    </div>
    <div class="ghost">Hello again from Pipertown, USA! Please forgive me for my absence from writing. I wish I knew where to begin, but I have to say that much is different in this little neighborhood of ours. And our mayor Richard Hendricks is transforming this boom town into a bonafide metropolis!</div>
  </div>
  <br></br>
  <br></br>
  <div class="alan">
    <h1>Kolaylık</h1>
    <div class="minialan2"><img class="svg" src="../assets/seniorpc.png" alt="MerOS is Simple"></div>
    <p class="paragraf2"> MerOS; tatlı masaüstü ortamı, kişiselleştirilmiş uygulama mağazası, gömülü yazılımları, ilerici web uygulamaları ve aktif topluluğuyla kolaylık vaat eder. Çoğu olmazsa olmaz modern GNU yazılımlarının yanında Mercode topluluğunun yaptığı yazılımlar da içinde gelmektedir. Büyükanneniz bile MerOS'i kolaylıkla kullanabilir.</p>
    <div class="ghost">Hello again from Pipertown, USA! Please forgive me for my absence from writing. I wish I knew where to begin, but I have to say that much is different in this little neighborhood of ours. And our mayor Richard Hendricks is transforming this boom town into a bonafide metropolis!</div>
  </div>
  <br></br>
  <br></br>
  <div class="alan">
    <h1>Güvenlik</h1>
    <div class="minialan1"><img class="svg" src="../assets/security.png" alt="MerOS is Secure"></div>
    <p class="paragraf1"> MerOS güvenli çünkü GNU/Linux, doğası gereği virüslerin sistemi kolayca çökertmesini mümkünsüzleştiren açık ve imtiyazsız bir yapıya sahip. Bunun üstüne MerOS çoğu dağıtımdan farklı olarak Nix tabanlı olmasından ötürü uygulama dağıtmak kolay ve ana dizin salt okunur olduğundan sistemi kolay kolay bozamazsınız.</p>
    <div class="ghost">Hello again from Pipertown, USA! Please forgive me for my absence from writing. I wish I knew where to begin, but I have to say that much is different in this little neighborhood of ours. And our mayor Richard Hendricks is transforming this boom town into a bonafide metropolis!</div>
  </div>
  <br></br>
  <br></br>
  <div class="alan">
    <h1>Uyumluluk</h1>
    <div class="minialan2"><img class="svg" src="../assets/compatibility.png" alt="MerOS is Secure"></div>
    <p class="paragraf2"> Düşük sistem gereksinimleri ile MerOS; modern iş istasyonlarına, tek kartlı bilgisayarlara ve eski donanımlar için idealdir. Eski Raspberry Pi 2'niz bile MerOS ile hayat bulabilir. MerOS yeni bilgisayarları hızlı, eskileri ise kullanılabilir kılar.</p>
    <div class="ghost">Hello again from Pipertown, USA! Please forgive me for my absence from writing. I wish I knew where to begin, but I have to say that much is different in this little neighborhood of ours. And our mayor Richard Hendricks is transforming this boom town into a bonafide metropolis!</div>
  </div>
  <br></br>
  <br></br>
  <div class="alan">
    <h1>Özgürlük</h1>
    <div class="minialan1"><img class="svg" src="../assets/gnulicense.png" alt="Liberty comes with MerOS"></div>
    <p class="paragraf1"> Bütün GNU/Linux dağıtımlarının ortak yanı özgür yazılım olmalarıdır. Özgür yazılımlar herkesin kullanması, araştırması, paylaşıp geliştirmesi için özgürdür. Kısaca MerOS kelimenin tam anlamıyla özgürdür.</p>
    <div class="ghost">Hello again from Pipertown, USA! Please forgive me for my absence from writing. I wish I knew where to begin, but I have to say that much is different in this little neighborhood of ours. And our mayor Richard Hendricks is transforming this boom town into a bonafide metropolis!</div>
  </div>
  <br></br>
  <br></br>
  <div class="alan">
    <h1>Birlik</h1>
    <div class="minialan2"><img class="svg" src="../assets/community.png" alt="MerOS Welcome"></div>
    <p class="paragraf2"> Meros, Mercode'un harika topluluğu olmadan var olmazdı. Mercode; yazılımcıları, hackerları, aktivistleri, makerları ve tasarımcıları tek çatı altında toplayan, internetin merkezsizleşmesi ve kullanıcıların özgürleşmesi üzerine açık kaynaklı özgür yazılım projeleri üreten ve varolan projeleri geliştirip destekleyen bir FLOSS topluluğudur. Mercode'da, takım ile topluluk arasında büyük bir ayrım yoktur. Herkes, geçmişine veya yaşına bakılmaksızın Mercode'a çeşitli platformlardan destek olabilir ve ekibimize katılabilir.</p>
    <div class="butonalan2">
      <a href="https://mercode.org/" class="button"><i class="fa fa-globe" aria-hidden="true"></i> Website</a>
      <a href="https://github.com/mercode-org" class="button"><i class="fa fa-code-fork" aria-hidden="true"></i> Katkı</a>
    </div>
    <div class="ghost">Hello again from Pipertown, USA! Please forgive me for my absence from writing. I wish I knew where to begin, but I have to say that much is different in this little neighborhood of ours. And our mayor Richard Hendricks is transforming this boom town into a bonafide metropolis!</div>
  </div>
  <br></br>
  <br></br>
  <div class="alan">
    <h1>Nix</h1>
    <div class="minialan1"><img class="svg" src="../assets/nixpkg.png" alt="MerOS Welcome"></div>
    <p class="paragraf1"> MerOS, Linux ve diğer Unix sistemleri için güçlü bir paket yöneticisi olan Nix'i temel alır ve bu da paket yönetimini güvenilir ve tekrarlanabilir kılar. Atomik yükseltmeler ve rollbackler, bir paketin birden fazla sürümünün yan yana kurulumu, çok kullanıcılı paket yönetimi ve build ortamlarının kolay kurulumunu sağlar.</p>
    <div class="butonalan1">
      <a href="https://nixos.org/nix/" class="button"><i class="fa fa-book" aria-hidden="true"></i> Daha Falza</a>
    </div>
    <div class="ghost">Hello again from Pipertown, USA! Please forgive me for my absence from writing. I wish I knew where to begin, but I have to say that much is different in this little neighborhood of ours. And our mayor Richard Hendricks is transforming this boom town into a bonafide metropolis!</div>
  </div>
  <br></br>
