extends main.pug

block css
  <link rel="stylesheet" type="text/css" href="../css/main.css">
  <link rel="stylesheet" type="text/css" href="../css/team.css">
block content
  <section id="speakers">
    <h1><i class="fa fa-users" aria-hidden="true"></i>  Takım</h1>
    <p> MerOS'in kendini adamış emektarlarıyla tanışın.</p>
    <div class="row1">

      <div class="col-md-3">
        <a class="member-profile">
          <div class="unhover_img">
            <picture>
              <img class="teamprofile" src="../assets/team/yutyo.png" alt="">
            </picture>
          </div>
          <div class="hover_img">
            <picture>
              <img class="teamprofile" src="../assets/team/yutyo.png" alt="">
            </picture>
          </div>
          <span>Baş Geliştirici - Tasarımcı</span>
          <h4 style="margin-bottom:5px;">Tan Siret Akıncı</h4>
          <h5 style="margin-bottom:10px; color:grey;">yutyo</h5>
        </a>
        <ul>
          <li><a href="mailto:tansiretakinci@yandex.com" target="_blank"><i class="fa fa-envelope"></i></a></li>
          <li><a href="https://twitter.com/comradeyutyo" target="_blank"><i class="fa fa-twitter"></i></a></li>
          <li><a href="https://github.com/yutyo" target="_blank"><i class="fa fa-github"></i></a></li>
          <li><a href="https://www.linkedin.com/in/tan-siret-akinci-9b7996b6/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
        </ul>
        <p class="teamp">Mercode'un kurucusu ve erken MerOS konseptlerinin yaratıcısı. 2018'den beri proje üzerine çalışıyor.</p>
      </div>



      <div class="col-md-3 ">
        <a class="member-profile">
          <div class="unhover_img">
            <picture>
              <img class="teamprofile" src="../assets/team/maciej.png" alt="">
            </picture>
          </div>
          <div class="hover_img">
            <picture>
              <img class="teamprofile" src="../assets/team/maciej.png" alt="">
            </picture>
          </div>
          <span>Baş Nix Geliştirici</span>
          <h4 style="margin-bottom:5px;">Maciej Krüger</h4>
          <h5 style="margin-bottom:10px; color:grey;">mkg20001</h5>
        </a>
        <ul>
          <li><a href="https://mkg20001@mkg20001.io" target="_blank"><i class="fa fa-globe"></i></a></li>
          <li><a href="mailto:mkg20001@mkg20001.io" target="_blank"><i class="fa fa-envelope"></i></a></li>
          <li><a href="https://twitter.com/mkg20001_" target="_blank"><i class="fa fa-twitter"></i></a></li>
          <li><a href="https://github.com/mkg20001" target="_blank"><i class="fa fa-github"></i></a></li>
        </ul>
        <p class="teamp">MerOS-Nix yapılandırmalarının, paketlerinin ve nixiquity'nin yaratıcısı, Mercode sysadmini. Takım içinde en yüksek katkı oranına sahip.</p>
      </div>

      <div class="col-md-3">
        <a class="member-profile">
          <div class="unhover_img">
            <picture>
              <img class="teamprofile" src="../assets/team/merith.png" alt="">
            </picture>
          </div>
          <div class="hover_img">
            <picture>
              <img class="teamprofile" src="../assets/team/merith.png" alt="">
            </picture>
          </div>
          <span>Geliştirici - Sysadmin</span>
          <h4 style="margin-bottom:10px;">Zachary Duncan</h4>
          <h5 style="margin-bottom:10px; color:grey;">merith</h5>
        </a>
        <ul>
          <li><a href="https://merith.tk" target="_blank"><i class="fa fa-globe"></i></a></li>
          <li><a href="https://github.com/Merith-TK" target="_blank"><i class="fa fa-github"></i></a></li>
        </ul>
         <p class="teamp">Mercode'un ilk sysadmini ve adanmış bir kodçu. Gerçek bir GNU/Linux taraftarı.</p>
      </div>

      <div class="col-md-3">
        <a class="member-profile">
          <div class="unhover_img">
            <picture>
              <img class="teamprofile" src="../assets/team/bonsharp.png" alt="">
            </picture>
          </div>
          <div class="hover_img">
            <picture>
              <img class="teamprofile" src="../assets/team/bonsharp.png" alt="">
            </picture>
          </div>
          <span>Geliştirici - Sysadmin</span>
          <h4 style="margin-bottom:5px;">Leung Yau Ming</h4>
          <h5 style="margin-bottom:10px; color:grey;">leungyauming</h5>
        </a>
        <ul>
          <li><a href="https://github.com/leungyauming" target="_blank"><i class="fa fa-github"></i></a></li>
        </ul>
        <p class="teamp">Çalışkan bir tam yığın geliştirici ve sysadmin, Mergit ve çeşitli Electron uygulamalarının yaratıcısı.</p>
      </div>


      <div class="col-md-3 ">
        <a class="member-profile">
          <div class="unhover_img">
            <picture>
              <img class="teamprofile" src="../assets/team/bufgix.png" alt="">
            </picture>
          </div>
          <div class="hover_img">
            <picture>
              <img class="teamprofile" src="../assets/team/bufgix.png" alt="">
            </picture>
          </div>
          <span>JS Geliştiricisi</span>
          <h4 style="margin-bottom:5px;">Faruk Oruç</h4>
          <h5 style="margin-bottom:10px; color:grey;">bufgix</h5>
        </a>
        <ul>
          <li><a href="mailto:ooruc471@yandex.com" target="_blank"><i class="fa fa-envelope"></i></a></li>
          <li><a href="https://twitter.com/bufgix" target="_blank"><i class="fa fa-twitter"></i></a></li>
          <li><a href="https://github.com/bufgix" target="_blank"><i class="fa fa-github"></i></a></li>
          <li><a href="https://www.linkedin.com/in/%C3%B6mer-faruk-oru%C3%A7-9b1a14188/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
        </ul>
        <p class="teamp">ElectronJS tabanlı uygulamalardan sorumlu.</p>
      </div>

      <div class="col-md-3">
        <a class="member-profile">
          <div class="unhover_img">
            <picture>
              <img class="teamprofile" src="../assets/team/emre.png" alt="">
            </picture>
          </div>
          <div class="hover_img">
            <picture>
              <img class="teamprofile" src="../assets/team/emre.png" alt="">
            </picture>
          </div>
          <span>Linux Geliştiricisi</span>
          <h4 style="margin-bottom:10px;">Emre</h4>
          <h5 style="margin-bottom:10px; color:grey;">natakomia hari</h5>
        </a>
        <ul>
          <li><a href="https://github.com/xDeveloperEmre" target="_blank"><i class="fa fa-github"></i></a></li>
        </ul>
         <p class="teamp">Linux sevici.</p>
      </div>

      <div class="col-md-3">
        <a class="member-profile">
          <div class="unhover_img">
            <picture>
              <img class="teamprofile" src="../assets/team/oriedargon.png" alt="">
            </picture>
          </div>
          <div class="hover_img">
            <picture>
              <img class="teamprofile" src="../assets/team/oriedargon.png" alt="">
            </picture>
          </div>
          <span>Müzik Bestecisi</span>
          <h4 style="margin-bottom:5px;">Orie Dargon</h4>
          <h5 style="margin-bottom:10px; color:grey;">OrieDargon</h5>
        </a>
        <ul>
          <li><a href="https://twitter.com/OrieDargon" target="_blank"><i class="fa fa-twitter"></i></a></li>
          <li><a href="https://github.com/OrieDargon" target="_blank"><i class="fa fa-github"></i></a></li>
          <li><a href="https://www.youtube.com/channel/UCO19aY4tFiVPXONv0Ts8oMA" target="_blank"><i class="fa fa-youtube-play"></i></a></li>
          <li><a href="https://soundcloud.com/oriedargon" target="_blank"><i class="fa fa-soundcloud"></i></a></li>
        </ul>
        <p class="teamp">Yetenekli bir chiptune ses bestecisi. Tüm MerOS ses temasını kendi başına besteledi.</p>
      </div>

      <div class="col-md-3">
        <a class="member-profile">
          <div class="unhover_img">
            <picture>
              <img class="teamprofile" src="../assets/team/caner.png" alt="">
            </picture>
          </div>
          <div class="hover_img">
            <picture>
              <img class="teamprofile" src="../assets/team/caner.png" alt="">
            </picture>
          </div>
          <span>Grafik Tasarımcısı</span>
          <h4 style="margin-bottom:5px;">Caner Özyayıkçı</h4>
          <h5 style="margin-bottom:10px; color:grey;">cimbo</h5>
        </a>
        <ul>
          <li><a href="http://caner.ozyayikci.com/" target="_blank"><i class="fa fa-globe"></i></a></li>
          <li><a href="https://twitter.com/ycanerozyayikci" target="_blank"><i class="fa fa-twitter"></i></a></li>
          <li><a href="https://www.behance.net/canerozyayikci" target="_blank"><i class="fa fa-behance"></i></a></li>
          <li><a href="https://500px.com/caner9ful" target="_blank"><i class="fa fa-500px"></i></a></li>
        </ul>
        <p class="teamp">Eskiden Mercode'da bir tasarımcı olarak çalışan Caner, "Merkür Markalaşması"'nın arkasındaki sanatçı.</p>
      </div>
    </div>
    <div class="clear"></div>



  </div>
  </section>
